// Buttons
.buttons .button {
  @media screen and (max-width: 560px) {
    flex: 1;
  }
}
.button {
  margin-top: 1.5rem;
  padding-left: calc(1em + 1em);
  padding-right: calc(1em + 1em);
  padding-top: 1.75em;
  padding-bottom: 1.75em;
  font-weight: 700;
  text-transform: uppercase;
  font-size: .9rem;
  min-width: 160px;
  transition: background-color .4s, color .4s;

  &.is-primary {
    color: $black;
    &:hover {
      background-color: $black;
      color: $white;
    }
  }
  &.is-primary-important {
    color: $black;
    background-color: $primary!important;
    &:hover {
      background-color: $black!important;
      color: $white;
    }
  }

    &.is-primary {
    color: $black;
    &:hover {
      background-color: $black;
      color: $white;
    }
  }
  
  &.is-secondary {
    background-color: $secondary;
    color: $white;
    border-color: $secondary;
    &:hover {
      background-color: $primary;
      border-color: $primary;
    }
    &.is-outlined {
      background-color: transparent;
      border-color: $secondary;
      color: $secondary;
      &:hover {
        background-color: $secondary;
        color: $white;
      }
    }
  }
}

// Images
figure {
  margin-left: 0;
  margin-right: 0;
  img {
    z-index: 1;
    position: relative;
  }
  &.image {
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  &.image-cover {
    position: relative;
    height: 100%;
    margin: 0;
    &--full {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 0;
    }
    picture {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      img {
        object-fit: cover;
        object-position: 50% 50%;
        width: 100%;
        height: 100%;
      }
    }
  }
}

[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}

[style*="--aspect-ratio"] > img {
  height: auto;
}

@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }

  [style*="--aspect-ratio"]::after {
    content: "";
    display: block;
    
    --aspect: (var(--aspect-ratio));
    padding-bottom: calc(100% / (var(--aspect)));
  }

  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

img {
  &.lazy {
    opacity: 0;
    will-change: opacity;
    transition: opacity 0.4s ease;
  }
  &.lazy-done {
    opacity: 1;
  }
}  


// Box
.media-centered {
  display: block;
  .media-icon .image {
    margin: 0 auto;
  }
}
.media-image {
margin-bottom: 1rem;
}

// Gallery
.swiper {
  &-container {
    width: 100%;
    padding-bottom: 4rem;
    @media screen and (min-width: 1024px) {
      > .swiper-button-prev, > .swiper-button-next, > .swiper-pagination {
        opacity: 0;
        transition: opacity .4s;
      }
      &:hover {
        > .swiper-button-prev, > .swiper-button-next, > .swiper-pagination {
          opacity: 1;
        }
      }
    }
  }
  &-slide {
    height: auto;
  }
  &-pagination {
    width: 100%;
    &-bullet {
      width: 10px;
      height: 10px;
      margin: 0 5px!important;
      &-active {
        transform: scale(1.25);
        background-color: $white!important;
        box-shadow: 0px 0px .5rem rgba($black, .25);
      }
    }
    &-fraction {
      background-color: rgba($white,.8);
      width: auto;
      padding: .25rem .5rem;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1rem;
    }
  }
  &-button {
    &-prev:after, &-next:after {
      color: $white;
      font-size: 2rem;
      text-shadow: 0px 0px 1rem rgba($black, .5);
    }
  }
}