@import "./resources";

body {
  text-rendering: optimizeLegibility;
  font-family: $font-primary;
  color: $black;
}

* {
  box-sizing: border-box;
}


// Transitions
.page-enter-active {
  transition: opacity 0.4s ease-out;
}

.page-leave-active {
  transition: opacity 0.4s ease-in;
}

.page-enter,
.page-leave-active {
  opacity: 0.25;
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition-duration: 0.5s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(2em, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-2em, 0);
}

.loadingComponent {
  position: relative;
  color: rgba(0, 0, 0, 0) !important;
  cursor: progress !important;
  padding: 2rem 0;

  &:after {
    z-index: 3;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -14px;
    margin-left: -14px;
    border: 4px solid $light;
    border-top: 4px solid $grey;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1.5s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

.spin {
  animation: spin-inverse 2s ease-out infinite;

  @keyframes spin-inverse {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(-360deg);
    }
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 1rem, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.fadeInUp {
  animation-duration: 0.75s;
  animation-fill-mode: both;
  animation-delay: 1.5s;
  opacity: 0;
  animation-name: fadeInUp;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  animation-duration: 0.75s;
  animation-fill-mode: both;
  opacity: 0;
  animation-name: fadeIn;
}

.shake:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform:rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.ring:hover {
  animation: ring 1s;
  animation-iteration-count: infinite;
}

@keyframes ring {
  0% { transform:rotate(0deg); }
  10% { transform: rotate(-10deg); }
  20% { transform: rotate(10deg); }
  30% { transform: rotate(0deg); }
  40% { transform: rotate(10deg); }
  50% { transform: rotate(-10deg); }
  60% { transform: rotate(0deg); }
  70% { transform: rotate(-10deg); }
  80% { transform: rotate(10deg); }
  90% { transform: rotate(0deg); }
  100% { transform: rotate(-10deg); }
}