// Base
p {
    color: $black;
    line-height: 2;
}

.content {
    h1, h2, h3, h4, h5, h6 {
        color: $black;
    }
    ul.ul {
        margin-left: 0;
        line-height: 2;
        li {
            list-style-type: none;
            padding-left: 2rem;
            position: relative;
            &:before {
                content: '';
                display: inline-block;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                background-color: $primary;
                width: 16px;
                height: 16px;
                border-radius: 100%;
            }
        }
    }
}

// Links
a {
    position: relative;
    &:hover:not(.button) {
        color: $black;
        background: none;
        
        text-decoration: underline;
    } 
    &.arrow {
        font-weight: 600;
        &:after {
            content: '⟶';
            margin-left: .5rem;
        }
    } 
    &.arrow-left {
        font-weight: 600;
        padding-left: 2rem;
        &:after {
            transform: rotate(180deg);
            content: '⟶';
            position: absolute;
            left: 0;
        }
    } 
}

// Icons
.jicon {
    &.is-medium {
        i {
            width: 2em;
            height: 2rem;
        }
    }
    &.is-large {
        i {
            width: 3rem;
            height: 3rem;
        }
    }
    i {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        width: 1.25rem;
        height: 1.25rem;
        &.superficie {
            background-image: url('/svg/superficie.svg');
        }
        &.camere {
            background-image: url('/svg/camere.svg');
        }
        &.bagni {
            background-image: url('/svg/bagni.svg');
        }
        &.piano {
            background-image: url('/svg/piano.svg');
        }
        &.boxauto {
            background-image: url('/svg/boxauto.svg');
        }
        &.foto {
            background-image: url('/svg/foto.svg');
        }
        &.planimetrie {
            background-image: url('/svg/planimetrie.svg');
        }
        &.virtualtour {
            background-image: url('/svg/virtualtour.svg');
        }
        &.mappa {
            background-image: url('/svg/mappa.svg');
        }
        &.streetview {
            background-image: url('/svg/streetview.svg');
        }
        &.email2 {
            background-image: url('/svg/email2.svg');
        }
        &.phone {
            background-image: url('/svg/phone.svg');
        }
        &.hours {
            background-image: url('/svg/hours.svg');
        }
        &.pin {
            background-image: url('/svg/pin.svg');
        }
        &.facebook {
            background-image: url('/svg/facebook.svg');
        }
        &.instagram {
            background-image: url('/svg/instagram.svg');
        }
        &.linkedin {
            background-image: url('/svg/linkedin.svg');
        }
        &.whatsapp {
            background-image: url('/svg/whatsapp.svg');
        }
        &.calendar {
            background-image: url('/svg/calendar.svg');
        }
    }
}

//Texts
.has-text-secondary {
    color: $secondary;
  }