$black: #080808;

$white: #ffffff;
$light: #F5F5F5;
$lighter: #F7F7F7;

$grey: #AAAAAA;

$primary: #FEF00E;
$primary-light: #FEF789;
$primary-lighter: #FEF789;
$primary-dark: #ffd900;

$secondary: #6FC0C6;
$secondary-1: #B4DBDE;
$secondary-2: #CBE7E8;
$secondary-3: #DFF0F2;

$link: $black;
