$black: #080808;

$white: #ffffff;
$light: #F5F5F5;
$lighter: #F7F7F7;

$grey: #AAAAAA;

$primary: #FEF00E;
$primary-light: #FEF789;
$primary-lighter: #FEF789;
$primary-dark: #ffd900;

$secondary: #fe8335;
$secondary-dark: #f46e19;


$link: $black;

$input-background-color: rgba($white,0);
$input-placeholder-color: rgba($black,.75);
$input-color: $black;
