$black: #080808;

$white: #ffffff;
$light: #F5F5F5;
$lighter: #F7F7F7;

$grey: #AAAAAA;
$grey-light: #e2e2e2;
$grey-lighter: #eaeaea;

$primary: #FEF00E;
$primary-light: #FEF789;
$primary-lighter: #FEF789;
$primary-dark: #ffd900;

$secondary: #fe8335;
$secondary-dark: #f46e19;


$link: $black;

$input-background-color: rgba($white,0);
$input-hover-border-color: rgba($black,.6);
$input-placeholder-color: rgba($black,.6);
$input-color: $black;

$font-primary: 'Roboto Condensed', sans-serif;